.header {
  display: grid;
  place-items: center;

  color: var(--color-white);
  text-shadow: 1px 2px 4px hsl(0 0% 0% / 0.25);

  background-image: url("/images/header01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  background-color: var(--color-dark);
  /* background-blend-mode: normal; */
  /* background-blend-mode: color-dodge; */
  /* background-blend-mode: color-burn; */
  /* background-blend-mode: overlay; */
  /* background-blend-mode: luminosity; */
  /* background-blend-mode: hard-light; */
  /* background-blend-mode: soft-light; */
  /* background-blend-mode: multiply; */
  background-blend-mode: difference;
  /* background-blend-mode: hue; */
  /* background-blend-mode: color; */
}

.header__title {
  /* font-size: var(--fs-h1); */
  line-height: 1.25;
}

.header__tagline {
  line-height: 1.25;
}

.header__title--accent-text {
  color: var(--color-accent-primary);
}
