:root,
dialog::backdrop,
dialog {
  /* ----- Colors ----- */
  --color-dark: hsl(240, 43%, 12%);
  --color-base: hsl(249, 50%, 43%);
  --color-light: hsl(249, 100%, 95%);

  --color-accent-primary: hsl(39, 100%, 51%);
  --color-accent-secondary: hsl(334, 98%, 45%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 98%);

  /* ----- Font sizing ----- */

  --fs-h1: 2.488rem;
  --fs-h2: 2.074rem;
  --fs-h3: 1.728rem;
  --fs-h4: 1.44rem;
  --fs-h4: 1.25rem;
  --fs-body: 1rem;
  --fs-small: 0.833rem;

  /* ----- Font family ----- */
  --ff-sans: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* ----- Font weights ----- */
  --fw-black: 900;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  /* ----- Line Heights ----- */
  --line-height-body: 1.5;
  --line-height-headings: 1.125;
}
