@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Think.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
