*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size);
  line-height: var(--line-height-body);
}

h1,
h2,
h3 {
  line-height: var(--line-height-headings);
}

.grid {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 99vw;
  max-width: 1250px;
}

.main {
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
  contain: content;
}

.header,
.footer {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  min-height: var(--spacer-1);
  contain: content;
}
